
<div class="card">
  <div class="card-header"> 
  <div class="row">   
    <div class="col-mid-4">
      <form class="bd-search">       
    <input class="form-control ds-input"
    type="search" [(ngModel)]="Search" name="Search" aria-label="Search for"
    placeholder="Search..."
    > 
    </form>
    <div class="col-mid-4"  >
      <h3 style="text-align: center;" >{{searchItem?displaySearchText:''}} {{Search}}</h3>
      
      </div>
    </div>
   
  </div>
  </div>
  <div class="card-body">
   
    <div class="col-mid-7">
      <h1  style="text-align:center" *ngIf="errorProduct" >
        <i class="fa fa-sad-tear"></i>
        {{errorProduct?errorProductMessage:''}}
        <br>Please Try Again
      </h1>
    </div>
  <div class="table-responsive">     
    <table class="table" *ngIf="searchProducts.length" >    
        <thead>
          <tr>                   
          <th>
            <button class="btn btn-outline-secondary" (click)="toggleImage()"
            >{{showImage?"Hide":"Show"}} Image </button>          
          </th>
          <th>Product</th>         
          <th>Code</th>
          <th>Price</th>
          <th>Star Rating</th>
          </tr>
        </thead>    
   
    <tbody>
      <tr *ngFor="let product of searchProducts">
        <td><img [src]="product.imageUrl" 
          [style.width.px]="imageWidth"
          [style.margin.px]="imageMargin"
          *ngIf="showImage"></td>
        <td>
          <a [routerLink]="['/products',product.productId]">{{product.productName}}</a>
        </td>
      
        <td>{{product.productCode}}</td>
        <td>{{product.price | currency:"USD"}}</td>
        <td><pm-star [rating]="product.starRating"></pm-star></td>
      </tr>
    </tbody>
  </table>
  </div>
  
  </div>
</div>
