<nav class="navbar navbar-expand navbar-light" style="background-color:#5456a1;"> 
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" routerLink="/welcome" title="Home">Home</a></li>
    <li><a class="nav-link" routerLink="/products" title="Products">Products</a></li>
    <li><a class="nav-link" routerLink="/welcome" title="Faqs">Faqs</a></li>
  </ul>
  <form class="form-inline my-2 my-lg-0">

 

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
  [routerLink]="['/search']"
 >
    <i class="fa fa-search"></i>
   </button>


  </form>
  
 
</nav>
<div class="container"><router-outlet></router-outlet></div>