

.navbar-brand{
  margin-left: 10px;
  color: white;
}

.navbar{
  justify-content:space-between;

}

.nav-link{
  color: white;
}

form{
  display:flex;
  margin-right: 5%;
}


.btn{
  color: white;
} 
