<div class="card">
  <div class="card-header" >
    {{pageTitle}} {{product?.productName}}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="product">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img [src]="product.imageUrl" [style.width.px]="imageWidth" 
              [style.margin.px]="imageMargin">
            </td>
            <td>
              <div style="font-weight: bold;">
              {{product.productName}}{{product.description}}
              </div>
              <a>Delete</a>
            </td>
            <td>{{product.price|currency:"USD"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
